
.logo{
    width: 35px;
}
body{
    background: #f3f3f3;
}
.main{
    background: #fff;
    width: 730px;
    margin: 0 auto;/*居中*/
    overflow: hidden;/*清除浮动*/
    padding: 10px;
}

.page-title{
    text-align: center;
}